*{
  margin: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background-image: url('../public/images/clear.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  min-height: 100vh;
  color: rgba(0,0,0,0.8);
  overflow-x: hidden;
}

@media (max-width:420px) {
  body{
    padding: 10px;
  }
}


